@import "common/index";

.invoice {
  padding: 1rem;
  color: $white;
  &__details {
    margin-top: 1rem;
  }
  &__id {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .mg-bt {
    padding-bottom: 1rem;
    border-bottom: 1px solid $white;
  }
  &__items {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $white;
  }
}
