@import "common/index";

.invoice {
  padding: 1rem;
  color: $white;
  &__total {
    text-align: right;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid white;
  }
  &__details {
    margin-top: 1rem;
  }
  &__id {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .mg-bt {
    padding-bottom: 1rem;
    border-bottom: 1px solid $white;
  }
  &__items {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $white;
  }
  &__table {
    width: 100%;
    &-head {
      border-bottom: 1px solid white;
      tr{
        line-height: 30px;
      }
    }
    &-body{
      &:before {
        content: '';
        display: table-row;
        height: 10px;
      }
      tr {
        line-height: 30px;
      }
    }
  }
  &__header {
    &-wrapper {
      display: flex;
    }
    &-basic {
      flex: 1;
    }
    &-total {
      align-self: flex-end;
    }
  }
}
