@import 'common/index';

.sidebar {
  display: flex;
  height: 100%;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  img {
    z-index: 1;
    padding: 0px 10px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    right: 0;
    background: lighten($black, 30%);
  }
  .invoice {
    color: white;
    width: 100%;
    padding-top: 60px;
    div {
      padding: 30px 0px 30px 20px;
    }
    &__header {
      border-bottom: 1px solid white;
      padding-bottom: 20px;
    }
  }
}
