<div *ngIf="(invoiceData | async); else: noData" class="invoice">
  <h2 class="text-center">Orders</h2>
  <hr />
  <div class="card invoice__wrapper" *ngFor="let order of (invoiceData | async)" (click)="getInvoice(order)">
    <div class="invoice__item">
      <div class="">
        <strong>{{ order.id }}</strong>
      </div>
      <div class="text-secondary">{{ order.recipient.name }}</div>
      <div class="text-secondary">
        {{ order.created_at | date: "short" }}
      </div>
      <div>
        {{
          order.charge_customer.total_price
            | currency: order.charge_customer.currency
        }}
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="no-data__wrapper"><img src="assets/images/no_data.gif" /></div>
</ng-template>
