<div class="form">
  <form class="form__wrapper" [formGroup]="searchForm">
    <div class="form__search">
      <ng-select (change)="onSelectBlur('customerId')" formControlName="customerId" placeholder="Customer">
        <ng-option *ngFor="let cust of customerList" [value]="cust">{{
          cust.name
        }}</ng-option>
      </ng-select>
    </div>
    <div>
      <input
        name="startDate"
        placeholder="Start Date.."
        type="text"
        #startDate
        class="form-control"
        formControlName="startDate"
      />
    </div>
    <div>
      <input
        name="endDate"
        placeholder="End Date.."
        type="text"
        #endDate
        class="form-control"
        formControlName="endDate"
      />
    </div>
  </form>
  <div class="w-100 text-center d-flex form__btn-wrapper">
      <button (click)="search()" class="mat-btn"><span>Search</span></button>
      <button (click)="reset()" class="mat-btn mat-btn__red"><span>Reset</span></button>
    </div>
</div>
